<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scoutlee.yhhs"
    android:versionCode="2"
    android:versionName="2.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppInfoActivity"
            android:label="@string/title_activity_app_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CallActivity"
            android:label="@string/title_activity_call"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchooletterActivity"
            android:label="@string/title_activity_schooletter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTable"
            android:label="@string/title_activity_time_table"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:label="@string/title_activity_web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstGradeActivity"
            android:label="@string/title_activity_first_grade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondGradeActivity"
            android:label="@string/title_activity_second_grade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdGradeActivity"
            android:label="@string/title_activity_third_grade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolTestActivity"
            android:label="@string/title_activity_school_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstGradeTestActivity"
            android:label="@string/title_activity_first_grade_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondGradeTestActivity"
            android:label="@string/title_activity_second_grade_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdGradeTestActivity"
            android:label="@string/title_activity_third_grade_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimeTableImage"
            android:label="@string/title_activity_time_table_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CaculatorActivity"
            android:label="@string/title_activity_caculator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchooletterView"
            android:label="@string/title_activity_schooletter_web_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DinnerPopup"
            android:label="@string/title_activity_dinner_popup"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".MealActivity"
            android:label="@string/title_activity_meal"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice" >
        </activity>
    </application>

</manifest>
